<div id="profile">
	<h1><%=h @profile.user.login %></h1>
	<p><%= @profile.brief_location %></p>
	<%= image_tag(@profile.avatar.url(:medium)) %>
	<p><%= link_to t("views.common.back"), root_path %></p>
</div>