development:      
  name:     "baseapp"
  domain:   "localhost:3000"
  url:      "http://localhost:3000"
  contact:  "contact@localhost.com"

production:  
  name:     "baseapp"
  domain:   "mydomain.com"
  url:      "http://www.mydomain.com"
  contact:  "contact@mydomain.com"