<h1>Oops, Page Down!!</h1>
<p><%= auto_link "This is a test of the emergency broadcast system and it seems that the page you were trying to visit is no longer on my site. Please try to remain calm, these kinds of things happen all the time. If you are looking for something specific, shoot me an #{mail_to APP_CONFIG["app_contact"]} and I might be able to find the page you are missing. If you can't remember what you were looking for and just want to #{mail_to APP_CONFIG["app_contact"]} me anyways, I promise to be friendly and cordial!"%></p>
<p>Thanks!</p>